.authform
  .page-header
    %h2 Editar Usuario
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Esperando confirmación: #{resource.unconfirmed_email}
    .form-group
      = f.label :fullname, 'Nombre'
      = f.text_field :fullname
    .fieldset
      %p Deja estos espacioes en blancos si no deseas cambiar tu clave.
      .form-group
        = f.label :password, 'Clave'
        = f.password_field :password, :autocomplete => 'off', class: 'form-control'
      .form-group
        = f.label :password_confirmation, 'Confirmar clave'
        = f.password_field :password_confirmation, class: 'form-control'
    .fieldset
      %p Debes indicar tu clave actual
      .form-group
        = f.label :current_password, 'Clave actual'
        = f.password_field :current_password, class: 'form-control'
    = f.submit 'Actualizar datos', :class => 'btn btn-primary'
.authform
  %h3 Cancelar cuenta
  = button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "¿Estás seguro?" }, :method => :delete, :class => 'btn btn-danger'
