.authform
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
    .page-header
      %h2 Ingreso nuevo Usuario
    -#= devise_error_messages!
    .form-group
      = f.label :fullname, 'Nombre'
      = f.text_field :fullname, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :password, 'Clave (mínimo 8 caracteres)'
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation, 'Confirmar clave'
      = f.password_field :password_confirmation, class: 'form-control'
    = f.submit 'Crear cuenta', :class => 'btn btn-primary'
