= simple_form_for @sector_goal do |f|
  = render partial: 'shared/errors', locals: {model: @sector_goal}
  .span10
    .span5
      = f.association :sector, collection: Sector.all, include_blank: '--Seleccione--', label: 'Sector'
      = f.input :start, required: true, placeholder: 'Fecha inicio', as: :date_time_picker, label: 'Start', input_html: {class: 'date-only'}, label: 'Fecha inicio'
      = f.input :finish,required: true, placeholder: 'Fecha finalización', as: :date_time_picker, label: 'End', input_html: {class: 'date-only'}, label:'Fecha de finalización'
      = f.input :quantity, label: 'Cantidad', placeholder: 'Cantidad'
  .span10
    .form-actions
      = f.button :submit, 'Crear nueva meta por sector', :class => 'btn btn-primary'
      = link_to 'Cancelar', sector_goals_path, :class => 'btn'
