- model_class = SectorGoal
.page-header
  = image_tag('pin.png')
  %h2 Metas por Sectores
  %p.explanation 
    Estas metas se refieren a las metas establecidas para cada sector en específico.
- if can? :create, SectorGoal
  = link_to 'Crear nueva meta por sector', new_sector_goal_path, :class => 'btn btn-primary'
- if @sector_goals.empty?
  %p.no-data No has agregado ninguna meta por sector.
- else
  = will_paginate @coordinator_goals, :class => 'pagination pagination-right pull-right', previous_label: h('<'), next_label: '>'
  %table.table.table-striped
    %thead
      %tr
        %th Sector
        %th Intervalo
        %th Estado
        %th Cantidad requerida/obtenida
        %th
    %tbody
      - @sector_goals.each do |sector_goal|
        %tr
          %td= sector_goal.sector.name
          %td= "#{sector_goal.start.strftime("%d/%m/%Y")} - #{sector_goal.finish.strftime("%d/%m/%Y")}"
          - if sector_goal.percent < 50
            %td.goal_under 
              = number_to_percentage(sector_goal.percent, precision: 0)
          - elsif sector_goal.percent.between?(50,99)
            %td.goal_half 
              = number_to_percentage(sector_goal.percent, precision: 0)
          - else
            %td.goal_over 
              = number_to_percentage(sector_goal.percent, precision: 0)
          %td=  "#{number_with_delimiter(sector_goal.quantity)} / #{number_with_delimiter(sector_goal.quantity_added)}"
          %td
            .btn-group
              - if can? :read, sector_goal
                = link_to 'Ver', sector_goal_path(sector_goal), :class => 'btn btn-mini btn-primary'
              - if can? :update, sector_goal
                = link_to 'Editar', edit_sector_goal_path(sector_goal), :class => 'btn btn-mini'
              - if can? :destroy, sector_goal
                = link_to 'Eliminar', sector_goal_path(sector_goal), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro?')) }, :class => 'btn btn-mini btn-danger'




