- model_class = SectorGoal
.page-header
  = image_tag('pin.png')
  %h2 Metas por Sector

%p
  %strong Sector:
  %br
  = @sector_goal.sector.name
%p
  %strong Fecha inicio:
  %br
  = @sector_goal.start
%p
  %strong Fecha finalización:
  %br
  = @sector_goal.finish
%p
  %strong Cantidad:
  %br
  = @sector_goal.quantity

.form-actions
  = link_to 'Volver', sector_goals_path, :class => 'btn'
  = link_to 'Editar', edit_sector_goal_path(@sector_goal), :class => 'btn'
  = link_to 'Eliminar', sector_goal_path(@sector_goal), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro?')) }, :class => 'btn btn-danger'
