.modal{:id => "role-options-#{user.id}", :style => "display: none;"}
  = simple_form_for user, :url => user_path(user), :html => {:method => :put, :class => 'form-horizontal' } do |f|
    .modal-header
      %a.close{"data-dismiss" => "modal"} ×
      %h3 Cambiar rol de usuario
    .modal-body
      = f.input :role_ids, :collection => Role.all, :as => :select , :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline', checked: user.role_ids.first
      %p.explanation
        %br
        %span
          %strong - Administrador
          posee todos los permisos de acceso.
        %br
        %span
          %strong - Coordinador
          puede crear nuevos miembros y administrar los que fueron creados por el mismo.
        %br
        %span 
          %strong - Digitador
          sólo puede crear nuevos miembros
    .modal-footer
      = f.submit "Cambiar rol", :class => "btn"
      %a.btn{"data-dismiss" => "modal", :href => "#"} Cerrar
