.page-header
  = image_tag('members.png')
  %h2 Administración de Usuarios
%table.table.table-striped
  %thead
    %tr
      %th Nombre
      %th Email
      %th Fecha de registro
      %th Rol
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.fullname
        %td= user.email
        %td= user.created_at.to_date
        %td= user.roles.first.name.titleize unless user.roles.first.nil?
        %td
          - unless user.id == 1
            %a.btn.btn-mini{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Cambiar rol
            = render partial: 'user_role', locals: {user: user}
        %td= link_to("Eliminar usuario", user_path(user), :data => { :confirm => "¿Está seguro?" }, :method => :delete, :class => 'btn btn-mini btn-danger') unless user == current_user
