.authform
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    %h3 Cambiar clave
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-group
      = f.label :password, 'Nueva clave'
      = f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control'
      = f.label :password_confirmation, 'Confirmar clave'
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
    = f.submit 'Cambiar clave', :class => 'button right'
