.authform
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
    %h3 ¿Olvidaste la clave?
    %p Te enviaremos las instrucciones al correo.
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
    = f.submit 'Resetear clave', :class => 'button right'
