- if model.errors.any?
  .alert.alert-error
    %a.close{"data-dismiss" => 'alert'}
      ×
    #error_explanation
      %h4= "Se han encontrado los siguientes errores:"
      %br
      %ul
        - model.errors.each do |attr, msg|
          %li= msg