%section#tweets
  %table.table.table-striped
    %thead
      %tr
        %th Tweets
      %tbody
        - @tweets.each do |tweet|
          %tr
            %td{style:'text-align:left;'}= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}"