.page-header
  = image_tag('indicators.png')
  %h2 Indicadores estado de la campaña
- if (current_user.nil? || !(current_user.has_role? :admin))
  %p.alert No tienes un rol asignado, debes comunicarte con el administrador.
- else
  - if !mobile_device?
    .span12.main-chart
      -#range: 7.day.ago..Time.now
      = line_chart Member.group_by_day(:created_at, format: "%d-%m-%Y",last:8).count, {library: {title: 'Ingreso de nuevos miembros en el tiempo', :colors => ["yellow"], "backgroundColor"=> "transparent",hAxis: {title: "Fechas",titleTextStyle: {color: 'white'}}, vAxis: {title: "Cantidad de miembros",titleTextStyle: {color: 'white'}, gridlines:{color: 'white'},viewWindowMode:'explicit', viewWindow:{min:1}},titleTextStyle: {color: 'white'}}, discrete: true}
  .span10.centered
    #graphic.span10
      = pie_chart Member.joins(:sector).group('sectors.name').count, {library: {title: 'Relación por Sector', "backgroundColor"=> "#eee"}}
      -#, :library => { :height => "500px", :width => "250px", :"background-color"=> 'red' }
    #graphic2.span10
      = pie_chart Member.joins(:occupation).group('occupations.name').count, {library: {title: 'Relación por Gremio'}}
    #graphic3.span10
      = pie_chart Member.group('sex').count, {library: {title: 'Relación por Género', "backgroundColor"=> "#eee"}}
    #graphic4.span10
      = pie_chart Member.joins(:coordinator).group('coordinators_members.name').count, {library: {title: 'Relación por Coordinador'}}
    #graphic5.span10
      = pie_chart @data1, {library: {title: 'Relación Cargo en Comité', "backgroundColor"=> "#eee"}}
    / #graphic6.span5
    /   = pie_chart Member.joins(:coordinator).group('coordinators_members.name').count, {library: {title: 'Relación por Coordinador',
    /         "backgroundColor"=> "#eee"}}
