= simple_form_for @global_goal do |f|
  = render partial: 'shared/errors', locals: {model: @global_goal}
  .span10
    .span5
      = f.input :description, required: true, label: 'Descripción de la meta', placeholder: 'Indique la descripción'
      = f.input :start, required: true, placeholder: 'Fecha inicio', as: :date_time_picker, label: 'Start', input_html: {class: 'date-only'}, label: 'Fecha inicio'
      = f.input :finish,required: true, placeholder: 'Fecha finalización', as: :date_time_picker, label: 'End', input_html: {class: 'date-only'}, label:'Fecha de finalización'
      -#= f.association :status, collection: Status.all(order: 'name'), include_blank: false
      = f.input :quantity, label: 'Cantidad', placeholder: 'Cantidad'
      -#= f.input :status_id, label: 'Estado'
      -#= f.input :user_id, label: 'Creador por'
  .span10
    .form-actions
      = f.button :submit, 'Crear nueva meta', :class => 'btn btn-primary'
      = link_to 'Cancelar', global_goals_path, :class => 'btn'