- model_class = GlobalGoal
.page-header
  = image_tag('globe2.png')
  %h2 Metas Globales del Proyecto

  %p.explanation 
    Estas metas se refieren a las metas que abarcan el proyecto completo. Para metas más específicas, puedes agregar
    = link_to 'metas por sector', sector_goals_path
    o 
    = link_to 'metas por coordinador.', coordinator_goals_path
- if can? :create, GlobalGoal
  = link_to 'Crear nueva meta', new_global_goal_path, :class => 'btn btn-primary'
- if @global_goals.empty?
  %p.no-data No has agregado ninguna meta.
- else
  = will_paginate @coordinator_goals, :class => 'pagination pagination-right pull-right', previous_label: h('<'), next_label: '>'
  %table.table.table-striped
    %thead
      %tr
        %th Descripción
        %th Intervalo
        %th Estado
        %th Cantidad requerida/obtenida
        %th
    %tbody
      - @global_goals.each do |global_goal|
        %tr
          %td= global_goal.description
          %td= "#{global_goal.start.strftime("%d/%m/%Y")} - #{global_goal.finish.strftime("%d/%m/%Y")}"
          - if global_goal.percent < 50
            %td.goal_under 
              = number_to_percentage(global_goal.percent, precision: 0)
          - elsif global_goal.percent.between?(50,99)
            %td.goal_half 
              = number_to_percentage(global_goal.percent, precision: 0)
          - else
            %td.goal_over 
              = number_to_percentage(global_goal.percent, precision: 0)
          %td=  "#{number_with_delimiter(global_goal.quantity)} / #{number_with_delimiter(global_goal.quantity_added)}"
          %td
            .btn-group
              - if can? :read, global_goal
                = link_to 'Ver', global_goal_path(global_goal), :class => 'btn btn-mini btn-primary'
              - if can? :update, global_goal
                = link_to 'Editar', edit_global_goal_path(global_goal), :class => 'btn btn-mini'
              - if can? :destroy, global_goal
                = link_to 'Eliminar', global_goal_path(global_goal), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro?')) }, :class => 'btn btn-mini btn-danger'
