- model_class = GlobalGoal
.page-header
  = image_tag('globe2.png')
  %h2 Metal Global

%p
  %strong Fecha inicio:
  %br
  = @global_goal.start.strftime("%d/%m/%Y")
%p
  %strong Fecha finalización:
  %br
  = @global_goal.finish.strftime("%d/%m/%Y")
%p
  %strong Estado
  %br
  = number_to_percentage(@global_goal.percent, precision: 0)
%p
  %strong Cantidad:
  %br
  = @global_goal.quantity
%p
  %strong Creada por:
  %br
  = @global_goal.user.fullname

.form-actions
  = link_to 'Volver', global_goals_path, :class => 'btn'
  = link_to 'Editar', edit_global_goal_path(@global_goal), :class => 'btn'
  = link_to 'Eliminar', global_goal_path(@global_goal), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro?')) }, :class => 'btn btn-danger'
