.authform
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
    .page-header
      %h2 Inicio de sesión
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
    .form-group
      -#- if devise_mapping.recoverable?
      -#  = link_to "Forgot password?", new_password_path(resource_name), class: 'right'
      = f.label :password, 'Clave'
      = f.password_field :password, class: 'form-control'
    = f.submit 'Iniciar sesión', :class => 'btn btn-primary'
    - if devise_mapping.registerable?
      = link_to 'Crear cuenta', new_registration_path(resource_name)
    -#- if devise_mapping.rememberable?
    -#  .checkbox
    -#    = f.check_box :remember_me
    -#    = f.label :remember_me, 'Recuerdame'
