= simple_form_for @coordinator_goal do |f|
  = render partial: 'shared/errors', locals: {model: @coordinator_goal}
  .span10
    .span4
      = f.association :member, collection: Member.coordinators.map{ |l| ["#{l.name} #{l.lastname}", l.id, {:name => "#{l.name} #{l.lastname}"}] }, include_blank: '--Seleccione--', label: 'Coordinador'
      = f.input :start, required: true, placeholder: 'Fecha inicio', as: :date_time_picker, label: 'Start', input_html: {class: 'date-only'}, label: 'Fecha inicio'
      = f.input :finish,required: true, placeholder: 'Fecha finalización', as: :date_time_picker, label: 'End', input_html: {class: 'date-only'}, label:'Fecha de finalización'
      = f.input :quantity, label: 'Cantidad', placeholder: 'Cantidad'
  .span10
    .form-actions
      = f.button :submit, 'Crear nueva meta por coordinador', :class => 'btn btn-primary'
      = link_to 'Cancelar', coordinator_goals_path, :class => 'btn'
