- model_class = CoordinatorGoal
.page-header
  = image_tag('coordinator.png')
  %h2 Metas por Coordinadores
  %p.explanation 
    Estas metas se refieren a las metas establecidas para cada coordinador en específico.
- if can? :create, CoordinatorGoal
  = link_to 'Crear nueva meta por coordinador', new_coordinator_goal_path, :class => 'btn btn-primary'
- if @coordinator_goals.empty?
  - if current_user && (current_user.has_role? :coordinador)
    %p.no-data No se te ha agregado ninguna meta.
  - else
    %p.no-data No se ha agregado ninguna meta por coordinador.
- else
  = will_paginate @coordinator_goals, :class => 'pagination pagination-right pull-right', previous_label: h('<'), next_label: '>'
  %table.table.table-striped
    %thead
      %tr
        %th Coordinador responsable
        %th Intervalo
        %th Estado
        %th Cantidad requerida/ obtenida
        %th
    %tbody
      - @coordinator_goals.each do |coordinator_goal|
        %tr
          %td= "#{coordinator_goal.member.name} #{coordinator_goal.member.lastname}"
          %td= "#{coordinator_goal.start.strftime("%d/%m/%Y")} - #{coordinator_goal.finish.strftime("%d/%m/%Y")}"
          - if coordinator_goal.percent < 50
            %td.goal_under 
              = number_to_percentage(coordinator_goal.percent, precision: 0)
          - elsif coordinator_goal.percent.between?(50,99)
            %td.goal_half 
              = number_to_percentage(coordinator_goal.percent, precision: 0)
          - else
            %td.goal_over 
              = number_to_percentage(coordinator_goal.percent, precision: 0)
          %td=  "#{number_with_delimiter(coordinator_goal.quantity)} / #{number_with_delimiter(coordinator_goal.quantity_added)}"
          %td
            .btn-group
              - if can? :read, coordinator_goal
                = link_to 'Ver', coordinator_goal_path(coordinator_goal), :class => 'btn btn-mini btn-primary'
              - if can? :update, coordinator_goal
                = link_to 'Editar', edit_coordinator_goal_path(coordinator_goal), :class => 'btn btn-mini'
              - if can? :destroy, coordinator_goal
                = link_to 'Eliminar', coordinator_goal_path(coordinator_goal), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro?')) }, :class => 'btn btn-mini btn-danger'