- model_class = CoordinatorGoal
.page-header
  = image_tag('coordinator.png')
  %h2 Meta por Coordinador

%p
  %strong Coordinador:
  %br
  = @coordinator_goal.member.name
%p
  %strong Fecha de inicio:
  %br
  = @coordinator_goal.start
%p
  %strong Fecha finalización:
  %br
  = @coordinator_goal.finish
%p
  %strong Cantidad:
  %br
  = @coordinator_goal.quantity

.form-actions
  = link_to 'Volver', coordinator_goals_path, :class => 'btn'
  = link_to 'Editar', edit_coordinator_goal_path(@coordinator_goal), :class => 'btn'
  = link_to 'Eliminar', coordinator_goal_path(@coordinator_goal), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro?')) }, :class => 'btn btn-danger'
