// Place all the styles related to the GlobalGoals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.span10 {
	div.span8, div.span4, div.span9, div.span3, div.span5, div.span10{
		margin-left: 0px;
	}
}