body {
background: #d4bcd8; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(186,96,196,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,96,196,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(186,96,196,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(186,96,196,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(186,96,196,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(186,96,196,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba60c4', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */


  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.centered{
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}

p.no-data {
  width: 100%;
  color: gray;
  font-size: 13px;
  margin-top: 10px;
  font-style: italic;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  //color: #000;
  &:hover {
    #color: #fff;
    #background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.explanation {
  color: white;
  a {
    color: blue;
  }
}

.field_with_errors {
  padding: 2px;
  color: red;
  display: table;
  .error{
    padding-left:5px;
  }
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

label.boolean.optional {
  display: inline;
  margin-left: 5px;
}

label{
  font-weight: bold;
}

h2{
  color: white;
  text-shadow: 2px 2px 2px #000;
  margin-bottom: 0px;
}

.logo-app{
height: 26px;
margin-top: -4px;
position: absolute;
}