%footer
  %ul.nav.nav-pills.pull-right
    %li= link_to 'Miembros', members_path
    %li= link_to 'Metas Globales', global_goals_path
    %li= link_to 'Metas Por Sector', sector_goals_path
    %li= link_to 'Metas Por Coordinador', coordinator_goals_path
    %li= link_to 'Administración', users_path
  .desc
    %h5 Acerca de...
    %p
      Sistema Administrador de Campaña (SAC), es un sistema que sirve como soporte para el seguimiento de los esfuerzos del equipo con miras a alcanzar y mantener el posicionamiento del candidato.