.navbar-fixed-top
  = image_tag('banner.jpg', class:'banner')
  .navbar
    .navbar-inner
      .container
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{'data-placement' => 'top left','data-toggle' => 'tooltip', href: '#', id: 'brand', title: 'SAC. Sistema Administrador de Campaña.'}
          = image_tag('logo_sys.png', alt: 'SAC', class: 'logo-app')
        .container.nav-collapse
          %ul.nav
            - if (current_user && (current_user.has_role? :admin))
              -if mobile_device?
                %li
                  = link_to global_goals_path do
                    %i.icon-globe
                    Metas Globales
                %li
                  = link_to sector_goals_path do
                    %i.icon-map-marker
                    Metas por Sector 
                %li
                  = link_to coordinator_goals_path do
                    %i.icon-user
                    Metas por Coordinador 
              - else
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                    %i.icon-th-list
                    Metas
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to global_goals_path do
                        %i.icon-globe
                        Globales
                    %li
                      = link_to sector_goals_path do
                        %i.icon-map-marker
                        Por Sector 
                    %li
                      = link_to coordinator_goals_path do
                        %i.icon-user
                        Por Coordinador 
            - else
              %li
                = link_to coordinator_goals_path do
                  %i.icon-user
                  Mi meta                 
            %li
              = link_to members_path do
                %i.icon-user
                Miembros
            %li
              = link_to '/' do 
                %i.icon-signal
                Indicadores
            / %li
            /   = link_to 'social/show' do 
            /     %i.icon-comment
            /     Social
            -#%li= link_to 'Usuarios', users_path
          %ul.nav.pull-right
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  = "Bienvenid@, #{current_user.fullname}"
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to edit_user_registration_path do
                      %i.icon-user
                      Editar cuenta
                  - if current_user.has_role? :admin
                    %li
                      = link_to users_path do
                        %i.icon-cog
                        Panel Administración
                - if user_signed_in?
                  %li
                    = link_to destroy_user_session_path, :method=>'delete' do
                      %i.icon-remove-circle
                      Salir
            - else
              %li
                = link_to new_user_session_path do
                  %i.icon-user
                  Iniciar sesión
            -#- else
            -#  %li
            -#    = link_to 'Sign up', new_user_registration_path
:javascript
  $('#brand').tooltip()