.well.sidebar-nav
  %h3 Navegación
  %ul.nav.nav-list
    %li.nav-header Metas
    %li= link_to 'Globales', global_goals_path
    %li= link_to 'Por Sector', sector_goals_path
    %li= link_to 'Por Coordinador', coordinator_goals_path
    %li.nav-header Equipo
    -#%li= link_to 'Coordinadores', members_path(only_cood: true)
    %li= link_to 'Listado de Miembros', members_path
    %li.nav-header Reporte Miembros
    %li= link_to 'Por Coordinador', ''
    %li= link_to 'Por Sector', ''
    %li= link_to 'Por Gremio', ''
    %li.nav-header Administración
    %li= link_to 'Usuarios', users_path
