!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "SAC"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    
    = javascript_include_tag "application"



  %body
    
    = render 'layouts/navigation'

    .container.container-master
      .row
        - if current_user && (current_user.has_role? :admin)
          -#.span3
          -#  = render 'layouts/side_navigation'
          .span12
            %p.notice
            = bootstrap_flash
            = yield
        - else
          .span12
            %p.notice
            = bootstrap_flash
            = yield

    - if !mobile_device?
      = render 'layouts/footer'
    / %footer
    /   .well
    /     .span9
    /       %p Sistema de Administración de campaña (SAC), es un sistema que sirve como soporte para el seguimiento de los esfuerzos del equipo con miras a alcanzar y mantener el posicionamiento del candidato.
