!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
  %title RailsWickedPdf
  = wicked_pdf_stylesheet_link_tag "application", :media => "all"
  -#= wicked_pdf_javascript_include_tag "application"
  = csrf_meta_tags

  %body{style:"background: #fff"}
    = yield