= simple_form_for @member do |f|
  = render partial: 'shared/errors', locals: {model: @member}
  .span11
    .form-actions
      .pull-right
        = f.button :submit, (@member.nil?) ? 'Crear nuevo miembro' : 'Guardar cambios', :class => 'btn btn-primary'
        = link_to 'Cancelar', members_path, :class => 'btn'
  .span11
    .fieldset
      %legend Datos básicos
      .span4
        = f.input :name, label: 'Nombre(s)', placeholder: 'Nombre(s)'
        = f.input :lastname, label: 'Apellido(s)', placeholder: 'Apellido(s)'
        = f.input :sex, collection: ['F', 'M'], label: 'Sexo', include_blank: false
        = f.input :birthdate, required: true,  placeholder: 'AAAA-MM-DD', as: :date_time_picker, label: 'Fecha de nacimiento', input_html: {class: 'date-only'}
        -#= f.input :birthdate, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year - 15
        = f.input :identification, label: 'Cédula', placeholder: 'Cédula'
        = f.association :occupation, collection: Occupation.all(order: 'name'), include_blank: '--Seleccione--', label: 'Ocupación'
      .span4.pull-right
        = f.input :email, placeholder: 'Email'
        = f.input :direction,label: 'Dirección', placeholder: 'Dirección'
        = f.association :sector, collection: Sector.all(order: 'name'), include_blank: '--Seleccione--', label: 'Sector'
        = f.input :telephone, label: 'Teléfono', placeholder: 'Teléfono'
        = f.input :celular, label: 'Celular', placeholder: 'Celular'
  .span11
    .fieldset
      %legend Otros datos
      .span5
        = f.input :colegio_electoral, class: 'required', placeholder: 'Colegio Electoral'
        = f.association :member_type, collection: MemberType.all(order: 'name'), include_blank: '--Seleccione--', label: 'Tipo de miembro', input_html:{class: 'select_member_type'}
        #form-coordinator
          = f.association :coordinator, collection: Member.coordinators.map{ |l| ["#{l.name} #{l.lastname}", l.id, {:name => "#{l.name} #{l.lastname}"}] }, include_blank: '--Seleccione--', label: 'Coordinador', input_html:{class: '.select_member_type'} 
      .span4
        %a.pull-right{href: "http://pld.org.do/portal/consulta-de-padron/", target:'_blank'}
          Ir al padrón del partido
        = f.input :is_pld_member, label: 'Es miembro del PLD', input_html:{class: 'form_member_trigger'}

      .span4
        #form-member
          = f.association :comite_intermedio, collection: ComiteIntermedio.all(order: 'name'), include_blank: '--Seleccione--', label: 'Cómite intermedio'
          = f.input :no_comite, placeholder: 'Número Comité'
          %label Cargo dentro del comité
          .btn-group{"data-toggle" => "buttons-radio"}
            - if @member && @member.is_president
              %input{type:'hidden', id:'is_president', value: '1'}
              %button.btn{type: "button", id:'miembro_comite'} Es miembro
              %button.btn.active{type: "button", id:'presidente_comite'} Es presidente
            - else
              %input{name:'member[is_president]', type:'hidden', id:'is_president', value: '0'}
              %button.btn.active{type: "button", id:'miembro_comite'} Es miembro
              %button.btn{type: "button", id:'presidente_comite'} Es presidente
  .span11
    .form-actions
      .pull-right
        = f.button :submit, (@member.nil?) ? 'Crear nuevo miembro' : 'Guardar cambios', :class => 'btn btn-primary'
        = link_to 'Cancelar', members_path, :class => 'btn'


:javascript
  $(document).ready(function(){
    $('.form_member_trigger').click(function(e){
      if (this.checked){
        $('#form-member').fadeIn();
      }
      else{
        $('#form-member').fadeOut();  
      }
    });
    
    $('#presidente_comite').click(function(e){
      $('#is_president').val('1')
    });

    $('#miembro_comite').click(function(e){
      $('#is_president').val('0')
    });

    $('.select_member_type').change(function(e){
      var valor = (parseInt(this.value));

      if(isNaN(valor)){
        $('#form-coordinator').hide();
      }
      else if(valor == 2){
         $('#form-coordinator').fadeIn();
      }
      else{
        $('#form-coordinator').fadeOut();  
      }
    });

    if($('.form_member_trigger').is(":checked")){
      $('#form-member').show();
    }
    else{
      $('#form-member').hide();
    }

    $('.select_member_type').change();
  });