.fieldset.search-fieldset
  %legend Buscador
  %ul.nav.nav-tabs#tab
    %li
      %a{"data-toggle" => "tab", href: "#div_simple"} Búsqueda simple
    %li
      %a{"data-toggle" => "tab", href: "#div_avanzado"} Búsqueda avanzada
    -#%li
    -#  %a{"data-toggle" => "tab", href: "#div_reportes"} Reportes
  
  .tab-content
    #div_simple.tab-pane
      = simple_form_for members_path, :method => 'get', class:'form-search' do |f|
        %input{name: "search_type", type: "hidden", value: "1"}/
        .span5
          = f.input :name, :class => 'inline', label: 'Buscar por nombre:' do
            .input-append
              = f.input_field :name, placeholder: 'Nombre', value: (params['/members'] ? params['/members'][:name] : '')
              = button_tag(type: 'submit', class: 'btn btn-info') do
                %i.icon-search
      .span4
        = simple_form_for members_path, :method => 'get', class:'form-search span4' do |f|
          = f.input :identification, :class => 'inline', label: 'Buscar por cédula:' do
            .input-append
              = f.input_field :identification, placeholder: 'Cédula', value: (params['/members'] ? params['/members'][:identification] : '')
              = button_tag(type: 'submit', class: 'btn btn-info') do
                %i.icon-search
      %p.explanation 
    #div_avanzado.tab-pane
      = simple_form_for members_path, :method => 'get', class:'form-search' do |f| 
        %input{name: "search_type", type: "hidden", value: "2"}/
        .span5
          %label Indique el sector
          = f.select :sector_id, options_for_select(@sectors, (params['/members'] ? params['/members'][:sector_id] : ''))
          -#= f.select :sector_id, @sectors, {}, {multiple: true}
          -#= collection_select :member, :sector_id, Sector.all, :id, :name,{}, { :multiple => true, :size => 5 }
          %label Indique la ocupación
          = f.select :occupation_id, options_for_select(@occupations, (params['/members'] ? params['/members'][:occupation_id] : ''))
          %label Indique el género
          = f.select :sex, options_for_select(['F', 'M'], (params['/members'] ? params['/members'][:sex] : '')), label: 'Sexo', include_blank: '--Seleccione--'
        .span4
          %label Indique el coordinador
          = f.select :coordinator_id, options_for_select(@coordinators, (params['/members'] ? params['/members'][:coordinator_id] : ''))
          %label Indique el tipo de miembro
          = f.select :member_type_id, options_for_select(@member_types, (params['/members'] ? params['/members'][:member_type_id] : ''))
          = f.input :is_pld_member, as: :boolean, label: 'Mostrar sólo miembros del PLD', input_html: {checked: (!params['/members'].nil? && params['/members'][:is_pld_member] == '1')}
          /= button_tag(id: 'btn-show-member', class: 'btn', data: { :'toggle'=> 'button'}) do
          /  %i.icon-star
          /  %span Mostrar solo miembros del PLD
          .controls
            = button_tag(type: 'submit', id: 'btn-search', class: 'btn btn-info') do
              %span Realizar búsqueda
              %i.icon-search
    -##div_reportes.tab-pane

:javascript
  $(document).ready(function() {
     $('#tab a:last').click(function (e) {
       e.preventDefault();
       $(this).tab('show');
     });

      $('#tab a:first').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });

      function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
          vars[key] = value;
        });
        return vars;
      }

      function querySt(Key) {
        var url = window.location.href;
        KeysValues = url.split(/[\?&]+/);
        for (i = 0; i < KeysValues.length; i++) {
            KeyValue = KeysValues[i].split("=");
            if (KeyValue[0] == Key) {
                return KeyValue[1];
            }
        }
      }

      $(function() {  
        var search_type = querySt('search_type');
        if (search_type == '2'){
          $('#tab a:last').tab('show');
        }
        else{
          $('#tab a:first').tab('show');
        }
        
      });


  });