.container
  .row
    = wicked_pdf_image_tag('Header_Formulario.jpg')
  .row
    -#= pie_chart @members.joins(:sector).group('sectors.name').count, {library: {title: 'Relación por Sector'}}
    .span6
      %h3
        Lista de miembros
  .row
    %table.table.table-striped
      %thead
        %tr
          %th
          %th Nombre
          %th Cédula
          %th Sector
          %th Teléfono
          %th Colegio Electoral
          %th Comité Intermedio
          %th Número de Comité
      %tbody
        - @members.each do |member|
          %tr
            %td
              - if member.is_pld_member
                = wicked_pdf_image_tag('ismember.png')
              - if member.is_president
                = wicked_pdf_image_tag('user.png')
            %td= "#{member.name} #{member.lastname}"
            %td= identification_formatter(member.identification)
            %td= member.sector.name
            %td= "#{phone_number_formatter(member.telephone)} / #{phone_number_formatter(member.celular)}"
            %td= member.colegio_electoral
            %td= (member.comite_intermedio.nil?) ? '' : member.comite_intermedio.name
            %td= member.no_comite