- model_class = Member
.page-header
  = image_tag('members.png')
  %h2 Listado de Miembros

= render 'search_bar'
- if can? :create, Member
  = link_to 'Ingresar nuevo miembro', new_member_path, :class => 'btn btn-primary'
- if current_user && (current_user.has_role? :admin)
  = link_to members_path(:format => "pdf", params: params), target: '_blank', class: (mobile_device?) ? 'btn btn-info pull-left' : 'btn btn-info pull-right' do
    %i.icon-file
    Ver reporte en PDF
- if @members.nil? || @members.empty?
  %p.centered.no-data No se ha encontrado ningún miembro.
- else

  = will_paginate @members, page_links: false, :class => 'span12 pagination pagination-right pull-right', previous_label: h('<'), next_label: '>'
  .pull-right
    %b
      = "Se han encontrado #{@members.count} miembros."
  %br
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Nombre
        - if !mobile_device?
          %th Cédula
          %th Sector
          %th Teléfono
          -#%th Colegio Electoral
          %th
    %tbody
      - @members.each do |member|
        %tr
          %td
            - if member.is_pld_member
              = image_tag('ismember.png', {title: 'Es miembro del partido.', alt: ''})
            - if member.is_president
              %i.icon-user{title: 'Es presidente de comité.'}
            - if !member.is_adult?
              %span.badge.badge-warning M
          %td.text-left
            = "#{member.name} #{member.lastname}"
            - if mobile_device?
              %br
              .btn-group
                - if can? :read, member
                  = link_to 'Ver', member_path(member), :class => 'btn btn-mini btn-primary'
                - if can? :update, member
                  = link_to 'Editar', edit_member_path(member), :class => 'btn btn-mini'
                - if can? :destroy, member
                  = link_to 'Eliminar', member_path(member), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro?')) }, :class => 'btn btn-mini btn-danger'

          - if !mobile_device?
            %td.text-center= identification_formatter(member.identification)
            %td= member.sector.name
            %td= "#{phone_number_formatter(member.telephone)} / #{phone_number_formatter(member.celular)}"
            -#%td= member.colegio_electoral
            %td
              .btn-group
                - if can? :read, member
                  = link_to 'Ver', member_path(member), :class => 'btn btn-mini btn-primary'
                - if can? :update, member
                  = link_to 'Editar', edit_member_path(member), :class => 'btn btn-mini'
                - if can? :destroy, member
                  = link_to 'Eliminar', member_path(member), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro?')) }, :class => 'btn btn-mini btn-danger'

