- model_class = Member
.page-header
  = image_tag('members.png')
  %h2 
    = "Datos del Miembro: #{@member.name} #{@member.lastname}" 

.span5
  %p
    %strong Nombre:
    %br
    = @member.name
  %p
    %strong Apellido:
    %br
    = @member.lastname
  %p
    %strong Sexo:
    %br
    = @member.sex == 'F' ? 'Femenino' : 'Masculino'
  %p
    %strong Cédula:
    %br
    = @member.identification
  %p
    %strong Fecha de nacimiento:
    %br
    = @member.birthdate
  %p
    %strong Dirección:
    %br
    = @member.direction
  %p
    %strong Sector:
    %br
    = @member.sector.name
  %p
    %strong Teléfono:
    %br
    = @member.telephone
  %p
    %strong Celular:
    %br
    = @member.celular
  %p
    %strong Email:
    %br
    = @member.email
.span5
  %p
    %strong ¿Es miembro del PLD?
    %br
    = @member.is_pld_member ? 'Sí' : 'No'
  %p
    %strong Número de Comité
    %br
    = @member.no_comite
  %p
    %strong Colegio Electoral:
    %br
    = @member.colegio_electoral
  %p
    %strong Ingresado por:
    %br
    = @member.user.fullname
  %p
    %strong Tipo de Miembro:
    %br
    = @member.member_type.name
  %p
    %strong Coordinador:
    %br
    = (@member.coordinator) ? @member.coordinator.name : 'N/A'
  %p
    %strong Comité Intermedio:
    %br
    = (@member.comite_intermedio) ? @member.comite_intermedio.name : 'N/A'
  %p
    %strong Ocupación:
    %br
    = @member.occupation.name
  %p
    %strong ¿Es presidente de comité?
    %br
    = @member.is_president ? 'Sí' : 'No'

.span10
  .form-actions
    = link_to 'Volver al listado', members_path, :class => 'btn'
    = link_to 'Editar', edit_member_path(@member), :class => 'btn'
    = link_to 'Eliminar', member_path(@member), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estás seguro?')) }, :class => 'btn btn-danger'
